.wrapper-bookmarks {
  .wrapper-qp {
    transition: all .7s cubic-bezier(0.215, 0.61, 0.355, 1) ;
    &.blur {
      filter: blur(3px);
      pointer-events: none;
    }
    .wrapper-half {
      max-height: 100vh;
      padding-bottom: 0rem;
      .no-results {
        padding: 0;
        z-index: 1;
        .go-to {
          cursor: pointer;
          font-style: italic;
          font-weight: 600;
          color: #7ca7b5d9;
        }
      }

      &.poem {
        padding: 1rem 1rem;
      padding-top: 3rem;
      }
      &.quote {
        padding: 1rem 1rem;
      }
      @include respond-to('largeTabletUp') {
        padding-top: 0;
        padding: 11rem 3rem;
      }
      .big-tl.pm, .big-tl.qt {
        @include respond-to('largeTabletUp') {
          font-size: 7rem;
        }
        @include respond-to('desktopBigUp') {
          font-size: 9rem;
        }
      }
      .big-tl.qt  {
        @include respond-to('largeTabletUp') {
          bottom: 2%;
        }
      }
      .big-tl.pm  {
        @include respond-to('largeTabletUp') {
          top: 2%;
        }
        @include respond-to('desktopBigUp') {
          top: 5%;
        }
      }
      .wrapper-cards {
        height: 88%;
        width: 100%;
        overflow-y: scroll;
        display: initial;
        padding: 0rem 1rem;
        @include respond-to('largeTabletUp') {
          height: unset;
          max-height: 90%;
          display: grid;
          grid-gap: 1rem 1rem;
          grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
        }
        @include respond-to('desktopBigUp') {
          grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
        }

        .card-wrapper {
          height: 90%;
          width: 98%;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
          box-shadow: -7px 7px 0px -4px rgb(124 167 181 / 48%);
          -webkit-box-shadow: -7px 7px 0px -4px rgb(124 167 181 / 48%);
          cursor: pointer;
          border: 1px solid #dbdbdb;
          @include respond-to('largeTabletUp') {
            margin: unset;
            height: 18rem;
            width: unset;
          }
          @include respond-to('desktopBigUp') {
            height: 25rem;
          }
          .card-info, .card-content {
            height: 50%;
            padding: 1rem;
            overflow-y: hidden;
          }
          .card-info {
            background-color: $grey;
            h3 {
              padding-top: 0;
              font-family: $titles;
              font-size: 20px;
              padding-bottom: 0;
            }
            h4 {
              font-size: 16px;
            }
          }
          .card-content {
            background-color: $white;
            h5 {
              position: relative;
              overflow: hidden;
              max-height: 100%;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              text-overflow: ellipsis;
              font-size: 16px;
              font-weight: 300;
              @include respond-to('largeTabletUp') {
                -webkit-line-clamp: 6;
              }
            }
            h5 span {
              font-size: 14px;
              @include respond-to('desktopBigUp') {
                font-size: 16px;
              }
            }
          }
        }
        .mySwiper {
          height: 100%;
          width: 100%;
          .swiper-pagination-bullets-dynamic {
            bottom: 0;
          }
          .swiper-pagination-bullet-active-main {
            background-color: #55acf3;
          }
        }
      }
      .big-tl {
        font-size: 5rem;
        @include respond-to('largeTabletUp') {
          font-size: 14rem;
        }
        @include respond-to('desktopBigUp') {
          font-size: 20rem;
        }
      }
    } 
  }
  .wrap-btn {
    position: absolute;
    bottom: 46%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    transition: all .9s cubic-bezier(0.215, 0.61, 0.355, 1) ;
    &:hover {
      button {
        transform: scale(1.05);
      }

    }
    @include respond-to('largeTabletUp') {
      bottom: 0%;
    }
    button {
      transition: all .9s cubic-bezier(0.215, 0.61, 0.355, 1) ;
      padding: 0.5rem;
      background: $white;
      border: none;
      border: 1px solid #dbdbdb;
      font-size: 13px;
      font-weight: 700;
      font-family: $titles;
      box-shadow: -7px 7px 0px -4px rgb(124 167 181 / 48%);
      -webkit-box-shadow: -7px 7px 0px -4px rgb(124 167 181 / 48%);
      text-transform: uppercase;
      cursor: pointer;
      @include respond-to('largeTabletUp') {
        padding: 1rem 2rem;
        font-size: 14px;
      }
      @include respond-to('desktopBigUp') {
        font-size: 20px;
      }

    }
  }
  .create {
    .wrap-animation {
      background: none;
      &.show {
        transform: translateY(0%);
      }
    }
    .form-create {
      height: 100%;
      width: 100%;
      display: flex;
      .card-info-create, .card-content-create {
        height: 100%;
        width: 50%;
        padding: 1rem;  
        overflow-y: hidden;
      }
      .card-info-create {
        background-color: $grey;
        h3 {
          padding-top: 0;
          font-family: $titles;
          font-size: 20px;
          padding-bottom: 0;
        }
        h4 {
          font-size: 16px;
        }
      }
      .card-content-create {
        background-color: $white;
        h5 {
          position: relative;
          overflow: hidden;
          max-height: 100%;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          font-size: 16px;
          font-weight: 300;
          @include respond-to('largeTabletUp') {
            -webkit-line-clamp: 6;
          }
        }
        h5 span {
          font-size: 14px;
          @include respond-to('desktopBigUp') {
            font-size: 16px;
          }
        }
      }
    }
  }
}