//Breakpoints
$smallMobileUp: 321px;
$tabletUp: 768px;
$largeTabletUp: 1024px;
$desktopSmallUp: 1200px;
$desktopUp: 1440px;
$desktopBigUp: 1600px;

$breakpoints: (
  'smallMobileUp':  ( min-width: $smallMobileUp ),
  'tabletUp':  ( min-width: $tabletUp ),
  "largeTabletUp": ( min-width: $largeTabletUp ),
  "desktopSmallUp": ( min-width: $desktopSmallUp ),
  "desktopUp": ( min-width: $desktopUp ),
  "desktopBigUp": ( min-width: $desktopBigUp ),
) !default;

//Colors
$white: #ffffff;
$grey: #eff2f3;
$black: #17181A;
$poem: #F4E2C6;
$quote: #1389F2;

// fonts family
$quotable: 'Great Vibes', cursive;
$titles: 'Cormorant', serif;
$main: 'Glory', sans-serif;